/.DS_Store
/data
/venv
*/__pycache__/*.pyc
*/__pycache__/*.pyo
*/__pycache__/*.pyd
/factory/__pycache__/
/data/__pycache__/
/strategies/__pycache__/
/facade/__pycache__/
/services/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.xlsx
*.zip
*.tar.gz